<h1>Players</h1>
<% if @players.empty? %>
  <b>No players presents</b>
<% else %>
  <table>
    <tr>
      <th>player id</th>
      <th>Number</th>
      <th>Link</th>
      <th>Manage</th>
    </tr>
  
  <% @players.each do |i| %>
    <tr>
      <td><%= i.id %></td>
      <td><%= link_to i.number %></td>
      <td><%= i.number %></td>
      <td><%= link_to "удалить", i, method: :delete, data: {confirm: "Точно удалить?"} %></td>
    </tr>
  <% end %>
  </table>
  <%= link_to "к списку каналов", channels_path %>
  <%= link_to "channels", channel_path(Channel.where('id > 2').first) %>
<% end %>