<h1><%= @player.number %></h1>
<%= link_to "исправить", fix_player_path %>
<ul>
  <li>number: <%= @player.number %></li>

</ul>
<% if @player.channels.empty? %>
  <b>No channels presents</b>
<% else %>
  <table>
    <tr>
      <th>channel id</th>
      <th>Name</th>
      <th>Link</th>
    </tr>
  
  <% @player.channels.each do |i| %>
    <tr>
      <td><%= i.id %></td>
      <td><%= link_to i.name, channel_path(i) %></td>
      <td><%= i.link %></td>
    </tr>
  <% end %>
  </table></br>
<% end %>
<%= link_to "к списку", players_path %>
