<h1>Channels</h1>
<%= link_to "все", channels_path %></br>
<%= link_to "опубликованные", published_channels_path %></br>
<%= link_to "создать новый", new_channel_path %>
<% if @channels.empty? %>
  <b>No channels presents</b>
<% else %>
  <table>
    <tr>
      <th>channel id</th>
      <th>Name</th>
      <th>Link</th>
      <th>Manage</th>
      <th>Manage</th>
      <th>Published</th>
    </tr>
  
  <% @channels.each do |i| %>
    <tr>
      <td><%= i.id %></td>
      <td><%= link_to i.name, channel_path(i) %></td>
      <td><%= i.link %></td>
      <td><%= link_to "редактировать", edit_channel_path(i) %></td>
      <td><%= link_to "удалить", i, method: :delete, data: {confirm: "Точно удалить?"} %></td>
      <td><%= i.published %>, <%= link_to "изменить", uppublish_channel_path(i) %></td>
    </tr>
  <% end %>
  </table>
<% end %>